@import "~src/variables";

main {
  background-image: $main-gradient-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 5px 30px 30px 30px;

  @media screen and (min-width: 700px) {
    padding: 0px 190px;
    position: relative;
    border-radius: 5px;
  }
}

h1 {
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
  padding: 8px;
}

img {
  max-width: 150px;
  margin-bottom: 20px;

  @media screen and (min-width: 460px) {
    max-width: 240px;
  }
}

nav {
  margin-bottom: 50px;

  li:first-child {
    &:hover {
      transition: ease 0.2s;
      color: $main-contrast-color;
    }
  }
  .disabled {
    color: $disabled-color;
  }
}
