<main>
  <div *ngIf="room">
    <h1>{{ room.name }}</h1>
    <div class="details-wrapper">
      <div>
        <i class="wi wi-humidity"></i>
        <h2 class="typography-small">Luftfuktighet:</h2>
        <h2>{{ room.humidity }} %</h2>
      </div>

      <div>
        <i class="wi wi-thermometer"></i>
        <h2 class="typography-small">Temperatur:</h2>
        <h2>{{ room.temperature }} &#176;C</h2>
      </div>
    </div>
  </div>
  <a routerLink="/navigation" routerLinkActive="linkActive">
    <button>BYTA RUM</button>
  </a>
</main>
