@import "~src/variables";
@import "~src/placeholders";

main {
  background-image: $primory-gradient-color;
  padding: 20px 20px 20px 20px;

  @extend %bg-cover;

  @media screen and (min-width: $mobile-small) {
    padding: 20px 80px 80px 80px;
  }

  @media screen and (min-width: $tablet) {
    padding: 50px 190px;
    position: relative;
    border-radius: 5px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 22px;
}

h2,
i {
  text-align: center;
  font-weight: 300;
}

i {
  font-size: 85px;
  padding: 10px;
  color: $secondary-color;
}

.typography-small {
  font-size: 18px;
}

.details-wrapper {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;

  div {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      &:last-child {
        margin-left: 60px;
      }
    }
  }
}

button {
  cursor: pointer;
  background-color: $button-color;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  color: $primory-font-color;

  &:hover {
    transition: ease 0.2s;
    color: $primory-color;
    background-color: $primory-contrast-color;
  }
}
