@import "~src/variables";
@import "~src/placeholders";

main {
  @extend %bg-cover;
  background-image: url("../../../assets/images/bg-clouds.png");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 50px 80px 80px 80px;

  @media screen and (min-width: 700px) {
    padding: 50px 80px;
    position: relative;
    border-radius: 5px;
  }
}

h2 {
  margin-left: 20px;
}

.container {
  border: solid 2px $primory-contrast-color;
  padding: 20px;

  @media screen and (min-width: 700px) {
    border: none;
    padding: 0;
  }
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 500px) {
    flex-direction: row;
  }
}

div i {
  font-size: 85px;
  color: $primory-contrast-color;
  text-align: center;

  @media screen and (min-width: 340px) {
    padding: 50px 0;
  }
}

a {
  display: flex;
  align-items: center;

  &:hover {
    transition: ease 0.2s;
    color: $primory-contrast-color;
  }

  i {
    padding-right: 7px;
    color: $primory-contrast-color;
    font-size: 28px;
  }
}
