<main class="hide-tablet">
  <img src="{{ house.image }}" alt="{{ house.alt }}" />

  <div class="container">
    <div>
      <h1>{{ house.id }}</h1>

      <a routerLink="" routerLinkActive="linkActive">
        <i class="wi  wi-direction-left"></i>

        Tillbaka
      </a>
    </div>

    <div *ngFor="let room of house.rooms">
      <div class="climate-data-container">
        <p class="typography-large">{{ room.name }}</p>
        <div class="typography-small">
          <p>Temp: {{ room.temperature }} &#176;</p>
          <p>LF: {{ room.humidity }} %</p>
        </div>
      </div>
    </div>
    <span>*LF = Luftfuktighet</span>
  </div>
</main>

<a class="hide-mobile flex" routerLink="" routerLinkActive="linkActive">
  <i class="wi  wi-direction-left"></i>Tillbaka
</a>
<main class="hide-mobile">
  <h1 class="title">{{ house.id }}</h1>
  <div class="flex">
    <img src="{{ house.image }}" alt="{{ house.alt }}" />

    <img src="../../../assets/images/floor_plan.png" alt="The floor plan" />
    <div
      *ngFor="let room of house.rooms; let i = index"
      class="climate climate_{{ i }}"
    >
      <p>{{ room.name }}</p>
      <p>Temp: {{ room.temperature }} &#176;</p>
      <p>LF: {{ room.humidity }} %</p>
    </div>
  </div>
</main>
<span class="hide-mobile">*LF = Luftfuktighet</span>
