@import "~src/variables";
@import "~src/placeholders";

main {
  @extend %bg-cover;

  @media screen and (min-width: $tablet) {
    border: solid 2px;
    border-color: orange;
    background-image: none;

    padding: 0;
    position: relative;
  }
}

.container {
  padding: 20px 20px 20px 20px;

  @media screen and (min-width: $mobile-small) {
    padding: 20px 80px 80px 80px;
  }
}

a {
  display: flex;
  align-items: center;
  padding: 6px;

  background-image: linear-gradient(
    to right,
    rgba(74, 73, 138, 1) 0%,
    rgba(74, 73, 138, 1) 3%,
    rgba(74, 73, 138, 0.17) 23%,
    rgba(74, 73, 138, 0) 27%
  );

  @media screen and (min-width: $tablet) {
    background-image: none;
  }

  &:hover {
    transition: ease 0.2s;
    color: $primory-contrast-color;
  }
  i {
    padding-right: 10px;
    color: $primory-contrast-color;
    font-size: 28px;
  }
}

.climate {
  position: absolute;
  color: $primory-contrast-color;
  p {
    padding: 0;
    margin: 0;
    font-size: 17px;
  }
}

//Living-room
.climate_0 {
  top: 272px;
  right: 206px;
}

//Kitchen
.climate_1 {
  top: 180px;
  right: 90px;
}

//Bedrom
.climate_2 {
  top: 378px;
  right: 137px;
}

.climate-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(45, 44, 102, 0.8);
  border: solid 2px $primory-contrast-color;

  @media screen and (min-width: $mobile-small) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 185px;
  }
}

img {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;

  @media screen and (min-width: $tablet) {
    position: relative;
    width: auto;
    height: auto;
    object-fit: fill;

    max-height: 500px;
  }
}

h1 {
  background-color: $secondary-color;
}

.title {
  position: absolute;
  margin: 5px 0 0 5px;
}

.typography-small {
  font-size: 16px;
}

.typography-large {
  font-size: 20px;
}

span {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
  text-align: right;
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 700px) {
  .hide-tablet {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

//Placed here to make sure display: block; is overwritten on elements with both
.flex {
  display: flex;
}
