@import "~src/variables";
@import "~src/placeholders";

main {
  background-image: $primory-gradient-color;
  padding: 20px 80px 80px 80px;

  @extend %bg-cover;

  @media screen and (min-width: 700px) {
    padding: 50px 190px;
    position: relative;
    border-radius: 5px;
  }
}

div {
  padding: 10px;
}

.links {
  display: flex;
  min-width: 185px;
  justify-content: space-between;
  align-items: center;
  border: solid 2px $primory-contrast-color;
  cursor: pointer;

  &:hover {
    transition: ease 0.2s;
    color: $primory-color;
    background-color: $primory-contrast-color;
  }
}

p:first-child {
  font-size: 20px;
  padding-right: 17px;
}
