@import "~src/variables";
@import "~src/placeholders";

main {
  background-image: $primory-gradient-color;
  padding: 20px 20px 20px 20px;

  @extend %bg-cover;

  @media screen and (min-width: 340px) {
    padding: 20px 80px 80px 80px;
  }

  @media screen and (min-width: 700px) {
    padding: 50px 190px;
    position: relative;
    border-radius: 5px;
  }
}

div {
  padding: 10px;
}

.links {
  display: flex;

  border: solid 2px $primory-contrast-color;
  cursor: pointer;

  display: block;

  &:hover {
    transition: ease 0.2s;
    color: $primory-color;
    background-color: $primory-contrast-color;
  }

  @media screen and (min-width: 380px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 185px;
  }
}

p:first-child {
  font-size: 20px;
  padding-right: 17px;
}
