$primory-gradient-color: linear-gradient(#4a498a, #2d2c66, #2d2c66);
$bg-office: url("/assets/images/purple_building.png");
$bg-house: url("/assets/images/purple_house.png");
$primory-color: #2d2c66;
$secondary-color: #7953c5;
$primory-contrast-color: orange;
$primory-font-color: #f9f9f9;
$button-color: #4a498a;
$disabled-color: grey;

$mobile-small: 340px;
$mobile-large: 460px;
$tablet: 700px;
