/* You can add global styles to this file, and also import other style files */
@import "~src/variables";
@import "~src/placeholders";

body {
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
  font-family: "Quicksand", sans-serif;
  color: $primory-font-color;

  display: flex;
  justify-content: center;
  align-items: center;

  @extend %bg-cover;
}

li {
  text-decoration: none;
  list-style: none;
  color: $primory-font-color;
}

a {
  text-decoration: none;
  color: $primory-font-color;
}

h1 {
  line-height: 1.5;
  font-size: 22px;
  text-align: center;
  padding: 8px;
}
